In [1]:
import pandas as pd 
import json

In [2]:
from gspread_pandas import Spread

In [3]:
s = Spread('Portafolio Fondo DeFi 2')
#funci√≥n para abrir una planilla en particular dentro del Sheet y convertir a dataframe
s.open_sheet('investor_profit') 
investprofit_defi2 = s.sheet_to_df()

In [4]:
df = investprofit_defi2

In [5]:
df = df.reset_index()
# Rename that new column 'id'
# Cosmos DB needs one column named 'id'. 
df = df.rename(columns={'index':'id'})
# Convert the id column to a string - this is a document database.
df['id'] = df['id'].astype(str)

In [16]:
s.open_sheet('portafolio_share') 
portafolio_share = s.sheet_to_df()

In [17]:
portafolio_share = portafolio_share.reset_index()
portafolio_share = portafolio_share.rename(columns={'index':'id'})
# Convert the id column to a string - this is a document database.
portafolio_share['id'] = portafolio_share['id'].astype(str)

In [20]:
from sqlalchemy import create_engine
creds = {
  'hst':'metafin.mysql.database.azure.com',
  'usr':'pelgueta@metafin',
  'pwd':'PASSWORD',
  'dbn':'guest',
  'ssl_ca': 'C:/Users/pelgu/Downloads/DigiCertGlobalRootG2.crt.pem',
    'prt':'3306'
}
# MySQL conection string.
connstr = 'mysql+mysqlconnector://{usr}:{pwd}@{hst}:{prt}/{dbn}'
# Create sqlalchemy engine for MySQL connection.
engine = create_engine(connstr.format(**creds))

In [25]:
df.to_sql(name='investors', con=engine, if_exists='replace', index=False)

In [28]:
pd.read_sql('SELECT * FROM investors', con=engine)

,name,id,usd_value,usd_profit_inc,profit incorrecto,profit,usd_profit,posicion inicial
0,Lucas Varela,lvarela,"$19,816.77","$3,655.77",22.6%,22.62%,"$3,656",
1,Vicente Pavez,vpavez,"$13,959.23","-$3,101.77",-18.2%,-29.85%,"-$5,941",19900
2,Pablo Elgueta,pelgueta,"$9,237.94",-$818.06,-8.1%,-8.14%,-$818,
3,Gerardo Guzman,gguzman,"$8,121.74",-$796.26,-8.9%,-8.93%,-$796,
4,Ignacio Pinochet,ipinochet,"$5,912.50","-$8,313.50",-58.4%,-58.44%,"-$8,313",
5,Luis Bollo,lbollo,"$5,912.50","-$8,313.50",-58.4%,-58.44%,"-$8,313",
6,Ricardo Hoffmann,rhoffmann,"$5,572.86","-$6,360.14",-53.3%,-53.30%,"-$6,360",
7,Rafael Pinochet,rpinochet,"$5,457.95",-$639.05,-10.5%,-10.48%,-$639,
8,Silvio Belledonne,sbelledonne,"$5,043.35","-$7,057.17",-58.3%,-58.32%,"-$7,057",
9,Diego Echeverria,decheverria,"$3,290.78",-$731.22,-18.2%,-31.46%,"-$1,510",4801
10,Jorge Vasquez,jvasquez,"$3,032.23",-$673.77,-18.2%,-27.07%,"-$1,126",4158
11,Omar Garib,ogarib,"$3,032.23",-$673.77,-18.2%,-26.63%,"-$1,101",4133
12,Santiago Elgueta,selgueta,$704.89,$104.89,17.5%,17.48%,$105,

In [21]:
portafolio_share.to_sql(name='portafolio_share_defi2', con=engine, if_exists='replace', index=False)

In [22]:
pd.read_sql('SELECT * FROM portafolio_share_defi2', con=engine)

   id             token          a          b          c     d porcentaje
0   1             acala   1,418.00     515.84  0.0131021  0.18      1.18%
1   2         anchorust  30,401.00  20,848.91  0.5295485  7.22     47.85%
2   3         astroport   8,973.00   1,517.96  0.0385552  0.53      3.48%
3   4            cosmos     233.53   2,143.81  0.0544512  0.74      4.92%
4   5    cosmos project       0.00       0.00  0.0000000  0.00      0.00%
5   6           crabada   2,313.00     267.34  0.0067903  0.09      0.61%
6   7      DOT:POLKADOT     292.60   4,968.35  0.1261927  1.72     11.40%
7              ethereum       1.92   3,701.98  0.0940278  1.28      8.50%
8      IMX3:IMMUTABLE X   1,469.00   2,514.63  0.0638700  0.87      5.77%
9             jones-dao     200.30     658.99  0.0167378  0.23      1.51%
10       pocket-network  13,659.00   4,084.61  0.1037465  1.41      9.37%
11          staked_kuji   3,184.00     315.23  0.0080066  0.11      0.72%
12        USDC:USD COIN   1,280.00   1,279.94  0.0325095  0.44      2.94%
13          WHITE-WHALE  26,542.00     753.22  0.0191312  0.26      1.73%

In [8]:
perf_date_defi2 = perf_date_defi2.iloc[2:]

In [9]:
perf_date_defi2

,id,date,cuotas,x,usd_value,valor_cuota,24h,ltd,ytd
2,2,2022-05-13,"252,387.03",0.00,"43,570.81",0.1726,-12.62%,-82.98%,-76.21%
3,3,2022-05-12,"252,387.03",0.00,"49,864.91",0.1976,13.92%,-80.52%,-72.77%
4,4,2022-05-11,"252,387.03",0.00,"43,770.52",0.1734,-50.17%,-82.90%,-76.10%
5,5,2022-05-10,"252,387.03",0.00,"87,843.30",0.3480,0.00%,-65.69%,-52.03%
6,6,2022-05-09,"252,387.03",0.00,"87,843.30",0.3480,-1.91%,-65.69%,-52.03%
...,...,...,...,...,...,...,...,...,...
174,,2021-11-21,"12,100.52",0.00,"12,134.73",1.0028,0.58%,-1.15%,
175,,2021-11-20,"12,100.52",0.00,"12,065.27",0.9971,4.21%,-1.71%,
176,,2021-11-19,"12,100.52",0.00,"11,577.72",0.9568,0.29%,-5.68%,
177,,2021-11-18,"12,100.52",0.00,"11,544.50",0.9540,-5.95%,-5.95%,
178,,2021-11-17,"12,100.52","12,100.52","12,275.45",1.0145,0.00%,0.00%,

In [14]:
perf_date_defi2 = perf_date_defi2.drop(columns=['id'])

In [15]:
perf_date_defi2

,date,cuotas,x,usd_value,valor_cuota,24h,ltd,ytd
2,2022-05-13,"252,387.03",0.00,"43,570.81",0.1726,-12.62%,-82.98%,-76.21%
3,2022-05-12,"252,387.03",0.00,"49,864.91",0.1976,13.92%,-80.52%,-72.77%
4,2022-05-11,"252,387.03",0.00,"43,770.52",0.1734,-50.17%,-82.90%,-76.10%
5,2022-05-10,"252,387.03",0.00,"87,843.30",0.3480,0.00%,-65.69%,-52.03%
6,2022-05-09,"252,387.03",0.00,"87,843.30",0.3480,-1.91%,-65.69%,-52.03%
...,...,...,...,...,...,...,...,...
174,2021-11-21,"12,100.52",0.00,"12,134.73",1.0028,0.58%,-1.15%,
175,2021-11-20,"12,100.52",0.00,"12,065.27",0.9971,4.21%,-1.71%,
176,2021-11-19,"12,100.52",0.00,"11,577.72",0.9568,0.29%,-5.68%,
177,2021-11-18,"12,100.52",0.00,"11,544.50",0.9540,-5.95%,-5.95%,
178,2021-11-17,"12,100.52","12,100.52","12,275.45",1.0145,0.00%,0.00%,

In [18]:
portafolio_share

   id             token          a          b          c     d porcentaje
0   1             acala   1,418.00     515.84  0.0131021  0.18      1.18%
1   2         anchorust  30,401.00  20,848.91  0.5295485  7.22     47.85%
2   3         astroport   8,973.00   1,517.96  0.0385552  0.53      3.48%
3   4            cosmos     233.53   2,143.81  0.0544512  0.74      4.92%
4   5    cosmos project       0.00       0.00  0.0000000  0.00      0.00%
5   6           crabada   2,313.00     267.34  0.0067903  0.09      0.61%
6   7      DOT:POLKADOT     292.60   4,968.35  0.1261927  1.72     11.40%
7              ethereum       1.92   3,701.98  0.0940278  1.28      8.50%
8      IMX3:IMMUTABLE X   1,469.00   2,514.63  0.0638700  0.87      5.77%
9             jones-dao     200.30     658.99  0.0167378  0.23      1.51%
10       pocket-network  13,659.00   4,084.61  0.1037465  1.41      9.37%
11          staked_kuji   3,184.00     315.23  0.0080066  0.11      0.72%
12        USDC:USD COIN   1,280.00   1,279.94  0.0325095  0.44      2.94%
13          WHITE-WHALE  26,542.00     753.22  0.0191312  0.26      1.73%